<form class="form" role="form">
    <div class="form-group">
        <label for="addressname">Your Name</label>
        <input type="text" class="form-control" id="address_name" placeholder="Enter name" ng-model="carddetails.card.name">
    </div>
    <div class="form-group">
        <label for="addressline1">Address Line 1</label>
        <input type="text" class="form-control" id="address_address_line1" placeholder="Enter address" ng-model="carddetails.card.address_line1">
    </div>
    <div class="form-group">
        <label for="addressline2">Address Line 2</label>
        <input type="text" class="form-control" id="address_address_line2" placeholder="Enter address" ng-model="carddetails.card.address_line2">
    </div>
    <div class="form-group">
        <label for="addressline2">City</label>
        <input type="text" class="form-control" id="address_address_city" placeholder="Enter city" ng-model="carddetails.card.address_city">
    </div>
    <div class="form-group">
        <label for="addressline2">Region</label>
        <input type="text" class="form-control" id="address_address_state" placeholder="Enter region" ng-model="carddetails.card.address_state">
    </div>
    <div class="form-group">
        <label for="addresspostcode">Postcode</label>
        <input type="text" class="form-control" id="address_address_zip" placeholder="Enter postcode" ng-model="carddetails.card.address_zip">
    </div>
    <div class="form-group">
        <label for="addresscountry">Country</label>
        <input type="text" class="form-control" id="address_address_country" placeholder="Enter country" ng-model="carddetails.card.address_country">
    </div>
    <div class="form-group">
        <label for="addressname">Notes</label>
        <textarea class="form-control" id="notes" ng-model="address.notes"></textarea>
    </div>
</form>