<div class="container">
    <div class="row">

        <div class="col-md-12 acc-wizard">

        	<div class="col-xs-12" style="background-color:#fff; border:1px solid #EEE;" >

        		<h4>Checkout</h4>
        		<hr>
        		<ol class="acc-wizard-sidebar">
				  <li class="acc-wizard-todo"><a href="#order">Order</a></li>
                  <li class="acc-wizard-todo"><a href="#shipping">Shipping</a></li>
				  <li class="acc-wizard-todo"><a href="#address">Address</a></li>
				  <li class="acc-wizard-todo"><a href="#payment">Payment</a></li>
				  
				</ol>
			
				
            	<checkout-summary cart="cart" />


			</div>
        	<div class="panel-group col-xs-12 " id="cartAccordian">
                <div class="panel panel-default" style="background-color:#f5f5f5;padding:5px;">
                    <a data-toggle="collapse" data-parent="#cartAccordian" href="#order">
                    <div class="panel-heading" style="margin-bottom:5px;">
                        <h4 class="panel-title">
                            
                            1. Order
                            
                        </h4>
                    </div>
                    </a>
                    <div id="order" class="panel-collapse collapse in">
                        <div class="panel-body" style="background-color:#fff;">

                                <div>
                                    <cart-summary cart="cart" />
                                </div>

                                <div style="margin-top:30px;">
                                    <a href="#shipping" class="btn btn-success btn-xs pull-right" style="color:#fff;">Next &raquo;</a>
                                </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default" style="background-color:#f5f5f5;padding:5px;">
                    <a data-toggle="collapse" data-parent="#cartAccordian" href="#shipping">
                    <div class="panel-heading" style="margin-bottom:5px;">
                        <h4 class="panel-title">
                            
                            2. Shipping
                            
                        </h4>
                    </div>
                    </a>
                    <div id="shipping" class="panel-collapse collapse">
                        <div class="panel-body" style="background-color:#fff;">

                            <div>{{ labels.shipping_notes }}</div>
                                    
                            <div>
                                <shipping-options shipping="shipping" cart="cart" />
                            </div>

                            <div>
                                {{ cart.qty() }} item{{ (cart.qty()>1?'s':'') }} = {{ cart.getExtraTotal() | currency:"£" }}
                            </div>

                            <div style="margin-top:30px;">
                                <a href="#order" class="btn btn-xs btn-success pull-left" style="color:#fff;">&laquo; Back</a>
                                <a href="#address" class="btn btn-xs btn-success pull-right" style="color:#fff;">Next &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
                        

                <div class="panel panel-default" style="background-color:#f5f5f5;padding:5px;">
                    <a data-toggle="collapse" data-parent="#cartAccordian" href="#address">
                    <div class="panel-heading" style="margin-bottom:5px;">
                        <h4 class="panel-title">
                            
                            3. Address
                            
                        </h4>
                    </div>
                    </a>
                    <div id="address" class="panel-collapse collapse ">
                        <div class="panel-body" style="background-color:#fff;">

                            <div>
                    		  <address-form address="address" />
                            </div>

                            <div style="margin-top:30px;">
                                <a href="#shipping" class="btn btn-xs btn-success pull-left" style="color:#fff;">&laquo; Back</a>
                                <a href="#payment" class="btn btn-xs btn-success pull-right" style="color:#fff;">Next &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="panel panel-default" style="background-color:#f5f5f5;padding:5px;">
                    <a id="paymentlink" data-toggle="collapse" data-parent="#cartAccordian" href="#payment">
                    <div class="panel-heading" style="margin-bottom:5px;">
                        <h4 class="panel-title">
                            
                            4. Payment
                            
                        </h4>
                    </div>
                    </a>
                    <div id="payment" class="panel-collapse collapse">
                        <div class="panel-body" style="background-color:#fff;">
 							
                            <div style="margin:10px;" ng-hide="stripedetails">
                                <paypal-button settings="settings" cart="cart" address="address" />
                            </div>
                            <div style="margin:10px;">
                                <stripe-button settings="settings" cart="cart" address="address" />
                            </div>

                            <div ng-show="stripedetails">

                                <hr />

                                <button ng-hide="inprogress" ng-click="stripepurchase()" class="btn btn-primary">Make Purchase</button>

                                <div ng-show="error">
                                    <span class="label label-danger">{{ error }}</span>
                                </div>
                                <div ng-show="inprogress">
                                    <span class="label label-info">processing order...</span>
                                </div>

                            </div>

                            <div style="margin-top:30px;">
                                <a href="#address" class="btn btn-xs btn-success pull-left" style="color:#fff;">&laquo; Back</a>
                                <a href="#complete" class="btn btn-xs btn-success pull-right" style="color:#fff;">Next &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            
        </div>

    </div>
</div>