<form id="paypal_form" name="paypal_form" action="" method="post" align="left">

	<input type="hidden" name="cmd" value="_cart">
	<input type="hidden" name="upload" value="1">
	<input type="hidden" name="business" ng-value="settings.paypal_business">
	
	<div ng-repeat="item in cart.items">
		<input type="hidden" name="item_name_{{ $index+1 }}" value="{{ item.name }}">
	  <input type="hidden" name="item_number_{{ $index+1 }}" value="{{ item.qty }}">
	  <input type="hidden" name="item_amount_{{ $index+1 }}" value="{{ item.price }}">
	</div>

	<input type="hidden" name="shipping" ng-value="cart.getExtraTotal()">
	<input type="hidden" name="return" ng-value="settings.paypal_complete_url" />
	<input type="hidden" name="cancel_return" ng-value="settings.paypal_cancel_url" />
	<input type="hidden" name="notify_URL" ng-value="settings.paypal_ipn" />
	<input type="hidden" name="custom" ng-value="stashid">
	<input type="hidden" name="currency_code" value="GBP">
	<input type="hidden" name="first_name" ng-value="address.name">
	<input type="hidden" name="address1" ng-value="address.line1">
	<input type="hidden" name="address2" ng-value="address.line2">
	<input type="hidden" name="city" ng-value="address.city">
	<input type="hidden" name="state" ng-value="address.region">
	<input type="hidden" name="zip" ng-value="address.postcode">
	<a href="#" ng-click="dopaypal()" class="btn btn-two">{{ title }}</a>
</form>